Local Unix Users,,{{ now(fmt='%Y-%m-%d %H:%M:%S') }},,,,,,

{% if local_unix_users_user_name or local_unix_users_uid_number or local_unix_users_primary_gid_number or local_unix_users_comment or local_unix_users_home_directory or local_unix_users_login_shell %}
Report parameters:
Name,UID,GID,GECOS,Home,Shell
{{local_unix_users_user_name}},{{local_unix_users_uid_number}},{{local_unix_users_primary_gid_number}},{{local_unix_users_comment}},{{local_unix_users_home_directory}},{{local_unix_users_login_shell}}

{% endif %}
{% for host in ansible_play_hosts_all | sort %}
hostname,group,ip_address,os_distro,os_version,hw_arch,time,changed,unreachable,failed
{# System time #}
{% if hostvars[host]['ansible_facts']['date_time'] is not defined %}
{% set sys_time = '' %}
{% else %}
{% set sys_time = hostvars[host]['ansible_facts']['date_time']['date'] + ' ' + hostvars[host]['ansible_facts']['date_time']['time'] %}
{% endif %}
{# Print CSV line #}
{{ '%s,%s,%s,%s,%s,%s,%s,%s,%s,%s' | format(
host,
hostvars[host]['group_names'] | join(', '),
hostvars[host]['ansible_facts']['default_ipv4']['address'] | default(),
hostvars[host]['ansible_facts']['distribution'] | default(),
hostvars[host]['ansible_facts']['distribution_version'] | default(),
hostvars[host]['ansible_facts']['architecture'] | default(),
sys_time,
hostvars[host]['ansible_facts']['sas_local_unix_users']['changed'] | default(False),
hostvars[host]['ansible_facts']['sas_local_unix_users']['unreachable'] | default(False),
hostvars[host]['ansible_facts']['sas_local_unix_users']['failed'] | default(True)
)}}
{% set local_unix_users = hostvars[host]['ansible_facts']['sas_local_unix_users_key']['local_unix_users'] | default() %}
{% if local_unix_users | length %}

Name,UID,GID,GECOS,Home,Shell
{% for user in local_unix_users | sort %}
{{ '"%s",%s,%s,"%s","%s","%s"' | format(
user[0],
user[2],
user[3],
user[4],
user[5],
user[6]
)}}
{% endfor %}
{% endif %}

{% endfor %}

